.addButtonContainer{
    padding: 0.5rem 0.2rem;
    display: flex;
    width: 100%;
    flex-flow: column;
}


.react-grid-Main{
    height: 100%;
}

.react-grid-Container{
    height: 100%;
}

.react-grid-Grid{
    min-height: 100% !important;
}

.react-grid-Canvas{
    height: 100% !important;
}

.gridContainer{
    height: calc( 100vh - 204px );
}